<div class="example-container mat-elevation-z8">
  <button mat-icon-button color="secondary" (click)="createEvent($event)">
    <mat-icon class="indigo-icon">add</mat-icon>
  </button>

  <button mat-icon-button color="secondary" (click)="load()">
    <mat-icon class="indigo-icon">sync</mat-icon>
  </button>

  <mat-form-field>
    <mat-label>Filtrar</mat-label>
    <input matInput (keyup)="applyFilter($event)" />
  </mat-form-field>
  <table mat-table [dataSource]="dataSource" matSort>
    <ng-container *ngFor="let column of columns" [matColumnDef]="column.name">
      <th
        mat-header-cell
        *matHeaderCellDef
        [mat-sort-header]="column.name != 'acoes' ? column.name : null"
        [disabled]="column.name == 'acoes' ? true : false"
      >
        {{ column.label }}
      </th>

      <td
        mat-cell
        *matCellDef="let element"
        (click)="selectedRow.emit(element)"
      >
        <!--
         [ngClass]="
          column.type == 'boolean'
            ? getProperty(element, column.name) == false
              ? 'mat-toolbar mat-warn'
              : 'mat-toolbar mat-accent'
            : ''
        "
      -->
        {{
          column.type == "date"
            ? formatarData(element, column.name)
            : column.type == "boolean"
            ? formatarBoolean(element, column.name)
            : column.type == "phone"
            ? formatPhoneNumber(element, column.name)
            : column.type == "time"
            ? formataHora(element, column.name)
            : getProperty(element, column.name)
        }}
        <button
          *ngIf="column.name == 'acoes'"
          mat-icon-button
          color="primary"
          (click)="update.emit(element)"
        >
          <mat-icon class="indigo-icon" aria-label="Edit">edit</mat-icon>
        </button>

        <button
          *ngIf="column.name == 'acoes'"
          mat-icon-button
          color="warn"
          (click)="delete.emit(element._id)"
        >
          <mat-icon class="indigo-icon" aria-label="Delete">delete</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr
      class="table-row"
      tabindex="1"
      mat-row
      *matRowDef="let row; columns: displayedColumns"
    ></tr>
  </table>
</div>
<mat-paginator
  fixed
  [length]="10"
  [pageSize]="30"
  [pageSizeOptions]="[5, 10, 25, 100]"
  showFirstLastButtons
>
</mat-paginator>
