table {
  width: 100%;
}

mat-form-field {
  width: 100%;
}

table td {
  text-align: left;
}

table tr:hover {
  cursor: pointer;
}
.example-spacer {
  flex: 1 1 auto;
}
.table-row:focus {
  background: tomato;
  outline: none;
}
.table-row:focus mat-cell {
  color: white;
}
