<form [formGroup]="form">
  <div formGroupName="doenca">
    <div class="row"></div>
    <div class="row">
      <div class="col-md-12" formGroupName="doenca">
        <mat-form-field class="example-full-width">
          <mat-label>Doença</mat-label>
          <mat-icon aria-hidden="false" (click)="getDoenca()">search</mat-icon>
          <input matInput [disabled]="true" formControlName="codigo" />
          <input matInput [disabled]="true" formControlName="nome" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <app-button-save [form]="form" (save)="save()"></app-button-save>
    </div>
  </div>
</form>
