<mat-vertical-stepper [linear]="isLinear" #stepper>
  <mat-step [completed]="false" [stepControl]="identificacaoForm">
    <ng-template matStepLabel>Identificação</ng-template>
    <app-identificacao
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
      (notify)="identificacao($event)"
      (createdDoc)="criado($event)"
    ></app-identificacao>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="responsavelForm">
    <ng-template matStepLabel>Responsável</ng-template>
    <app-responsavel-form
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
      (notify)="responsavel($event)"
    ></app-responsavel-form>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Histórico Químico</ng-template>
    <app-historico-quimico-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-historico-quimico-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="historicoPsiquicoForm">
    <ng-template matStepLabel>Histórico Psiquico</ng-template>
    <app-historico-psiquico-form
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
      (notify)="historicoPsiquico($event)"
    ></app-historico-psiquico-form>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="quadroClinicoForm">
    <ng-template matStepLabel>Quadro Clínico</ng-template>
    <app-quadro-clinico-form
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
      (notify)="quadroClinico($event)"
    ></app-quadro-clinico-form>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="historicoFamiliarSocialForm">
    <ng-template matStepLabel>Histórico Familiar Social</ng-template>
    <app-historico-familiar-social-form
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
      (notify)="historicoFamiliarSocial($event)"
    ></app-historico-familiar-social-form>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="historicoForenseForm">
    <ng-template matStepLabel>Histórico Forense</ng-template>
    <app-historico-forense-form
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
      (notify)="historicoForense($event)"
    ></app-historico-forense-form>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Doenças</ng-template>
    <app-doenca-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-doenca-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Medicamentos</ng-template>
    <app-medicamento-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-medicamento-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="tratamentoForm">
    <ng-template matStepLabel>Tratamentos anteriores</ng-template>
    <app-tratamento-form
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-tratamento-form>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Pertences</ng-template>
    <app-pertence-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-pertence-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Avaliações</ng-template>
    <app-avaliacao-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-avaliacao-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Saídas e retornos</ng-template>
    <app-saida-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-saida-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Agendamentos e Consultas</ng-template>
    <app-agendamento-consulta-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-agendamento-consulta-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Psicoterapia</ng-template>
    <app-psicoterapia-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-psicoterapia-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Evolução psicológica</ng-template>
    <app-evolucao-psicologica-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-evolucao-psicologica-list>
  </mat-step>

  <mat-step [completed]="false" [stepControl]="">
    <ng-template matStepLabel>Biometria</ng-template>
    <app-biometria-list
      [concatenatedPath]="caminho + '/' + _id"
      [_id]="_id"
    ></app-biometria-list>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Declarações/Relatórios/Termos </ng-template>
    <app-relatorio [_id]="_id"></app-relatorio>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Ações</ng-template>
    <div class="row">
      <div class="col-md-3">
        <button mat-raised-button color="accent" (click)="concluirTratamento()">
          Concluir tratamento
        </button>
      </div>
    </div>
  </mat-step>
</mat-vertical-stepper>
