<ng-template #table>
  <table class="table table-bordered" id="table">
    <thead>
      <tr>
        <th *ngFor="let dia of diaSemana" scope="col" colspan="3">
          {{ dia.key }}
        </th>
      </tr>
      <tr></tr>
    </thead>
    <tbody>
      <tr>
        <td
          style="vertical-align: baseline;"
          colspan="3"
          *ngFor="let a of [].constructor(7); let i = index"
        >
          <div *ngIf="i == 0">
            <tr *ngFor="let b of segunda; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
          <div *ngIf="i == 1">
            <tr *ngFor="let b of terca; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
          <div *ngIf="i == 2">
            <tr *ngFor="let b of quarta; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
          <div *ngIf="i == 3">
            <tr *ngFor="let b of quinta; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
          <div *ngIf="i == 4">
            <tr *ngFor="let b of sexta; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
          <div *ngIf="i == 5">
            <tr *ngFor="let b of sabado; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
          <div *ngIf="i == 6">
            <tr *ngFor="let b of domingo; let j = index">
              <th scope="col">{{ b.Atividade }}</th>
              <td>{{ b.Inicio }}</td>
              <td>{{ b.Final }}</td>
            </tr>
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <button mat-button (click)="imprimir($event)">Imprimir</button>
</ng-template>

<button mat-button (click)="tabela()">Ver Tabela</button>
