<div class="row">
  <div class="col-md-3">
    <button (click)="usoImagem()" class="btn btn-primary">
      Termo Uso de Imagem
    </button>
  </div>

  <div class="col-md-3">
    <button (click)="termoCiencia()" class="btn btn-primary">
      Termo de Ciência
    </button>
  </div>

  <div class="col-md-3">
    <button (click)="termoResponsabilidade()" class="btn btn-primary">
      Termo de Responsabilidade
    </button>
  </div>

  <div class="col-md-3">
    <button (click)="declaracaoHipossuficiencia()" class="btn btn-primary">
      Declaraçção de hipossuficiência
    </button>
  </div>
</div>
