<form [formGroup]="form">
  <div formGroupName="evolucaoPsicologica">
    <div class="row">
      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Data Inicial</mat-label>
          <input matInput [matDatepicker]="dataI" formControlName="dataI" />
          <mat-datepicker-toggle
            matSuffix
            [for]="dataI"
          ></mat-datepicker-toggle>
          <mat-datepicker #dataI></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-2">
        <mat-form-field>
          <mat-label>Data Final</mat-label>
          <input matInput [matDatepicker]="dataF" formControlName="dataF" />
          <mat-datepicker-toggle
            matSuffix
            [for]="dataF"
          ></mat-datepicker-toggle>
          <mat-datepicker #dataF></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-4">
        <button
          mat-raised-button
          color="warn"
          [disabled]="!form.valid"
          (click)="gerarRelatorio()"
        >
          Gerar Relatório
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <h3>Procedimentos realizados no período</h3>
        <div class="col-md-12">
          <mat-chip-list>
            <mat-chip
              *ngFor="let procedimento of procedimentos; let i = index"
              >{{ procedimento }}</mat-chip
            >
          </mat-chip-list>
        </div>
        <h3>Consultas realizados no período</h3>
        <div class="col-md-12">
          <mat-chip-list>
            <mat-chip *ngFor="let consulta of consultas; let i = index">{{
              consulta
            }}</mat-chip>
          </mat-chip-list>
        </div>
      </div>
      <div class="col-md-6">
        <div>
          <div style="display: block;">
            <canvas
              baseChart
              [datasets]="radarChartData"
              [options]="radarChartOptions"
              [labels]="radarChartLabels"
              [chartType]="radarChartType"
            >
            </canvas>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <mat-form-field
          hintLabel="{{
            form.controls.evolucaoPsicologica?.value?.sintese?.length
          }}/300"
        >
          <mat-label>Síntese do Período </mat-label>
          <textarea
            rows="10"
            cols="10"
            wrap="hard"
            (keyup)="onKeyAction(s.value)"
            (keydown)="onKeyAction(s.value)"
            matInput
            formControlName="sintese"
            [maxLength]="300"
            #s
          ></textarea>
        </mat-form-field>
      </div>
    </div>

    <div>
      <app-button-save [form]="form" (save)="save()"></app-button-save>
    </div>
  </div>
</form>
