.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 2s steps(5, start) infinite;
}
@keyframes blink-animation {
    from {
        background-color: chartreuse;
      }
    to {
    background-color: tomato;
  }
}

