.blink {
  animation: blink-animation 1s steps(5, start) infinite;
  -webkit-animation: blink-animation 1s steps(5, start) infinite;
}
@keyframes blink-animation {
  to {
    background-color: tomato;
  }
}
@-webkit-keyframes blink-animation {
  to {
    background-color: chartreuse;
  }
}
