<form [formGroup]="form">
  <div formGroupName="saida">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Saída</mat-label>
          <input
            matInput
            [matDatepicker]="picker"
            formControlName="dataSaida"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Retorno</mat-label>
          <input
            matInput
            [matDatepicker]="retorno"
            formControlName="dataRetorno"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="retorno"
          ></mat-datepicker-toggle>
          <mat-datepicker #retorno></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Motivo</mat-label>
          <mat-select formControlName="motivo" placeholder="">
            <mat-option *ngFor="let motivo of motivos" [value]="motivo._id">
              {{ motivo.motivo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Responsável</mat-label>
          <input matInput formControlName="responsavel" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <app-button-save [form]="form" (save)="save()"></app-button-save>
    </div>
  </div>
</form>
  

