<form [formGroup]="form">
  <div formGroupName="saida">
    <div class="row">
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Saída</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="saida" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Retorno</mat-label>
          <input matInput [matDatepicker]="retorno" formControlName="retorno" />
          <mat-datepicker-toggle
            matSuffix
            [for]="retorno"
          ></mat-datepicker-toggle>
          <mat-datepicker #retorno></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Motivo</mat-label>
          <mat-select formControlName="motivo" placeholder="">
            <mat-option *ngFor="let motivo of motivos" [value]="motivo">
              {{ motivo }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div class="col-md-3">
        <mat-form-field>
          <mat-label>Responsável</mat-label>
          <input matInput formControlName="responsavel" />
        </mat-form-field>
      </div>
    </div>
    <div>
      <button mat-button [disabled]="!form.valid" (click)="save()">
        Salvar
      </button>
    </div>
  </div>
</form>
