<div class="row">
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/icon-document.png" />
      <div class="card-body">
        <h5 class="card-title">Termo Uso de Imagem</h5>
        <button (click)="usoImagem()" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>
  
  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/icon-document.png" />
      <div class="card-body">
        <h5 class="card-title">Termo de Ciência</h5>
        <button (click)="termoCiencia()" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>

  <div class="col-md-3">
    <div class="card">
      <img class="card-img-top" src="../../../../assets/icon-document.png" />
      <div class="card-body">
        <h5 class="card-title">Termo de Responsabilidade</h5>
        <button (click)="termoResponsabilidade()" class="btn btn-primary">Imprimir</button>
      </div>
    </div>
  </div>

 

  
</div>
