<form [formGroup]="form">
    <div formGroupName="doenca">
      <div class="row">       
      </div>
      <div class="row">
        <div class="col-md-12" formGroupName="doenca">
          <mat-form-field class="example-full-width">
            <mat-label>Doença</mat-label>
            <mat-icon aria-hidden="false" (click)="getDoenca()"
              >search</mat-icon
            >
            <input matInput formControlName="codigo" />
            <input matInput formControlName="nome" />
          </mat-form-field>
        </div>
      </div>
      <div>
        <button
          mat-button      
          [disabled]="!form.valid"
          (click)="save()"
        >
          Salvar
        </button>
      </div>
    </div>
  </form>
  