<button (click)="openDialog(null)"><mat-icon>add</mat-icon></button>
<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource">
    <ng-container matColumnDef="username">
      <th mat-header-cell *matHeaderCellDef>No.</th>
      <td mat-cell *matCellDef="let element">{{ element.username }}</td>
    </ng-container>

    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef>E-mail</th>
      <td mat-cell *matCellDef="let element">{{ element.email }}</td>
    </ng-container>

    <ng-container matColumnDef="role">
      <th mat-header-cell *matHeaderCellDef>Role</th>
      <td mat-cell *matCellDef="let element">{{ element.role }}</td>
    </ng-container>

    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let element">
        <button mat-button md-raised-button (click)="openDialog(element)">
          <mat-icon>edit</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>

  <mat-paginator
    [pageSizeOptions]="[5, 10, 20]"
    showFirstLastButtons
  ></mat-paginator>
</div>

<ng-template #formulario>
  <form [formGroup]="form">
    <div>
      <div class="row">
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Username</mat-label>
            <input matInput formControlName="username" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" />
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
              <mat-option *ngFor="let role of roles" [value]="role">
                {{ role }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-4">
          <mat-form-field>
            <mat-label>Colaborador</mat-label>
            <mat-select formControlName="colaborador">
              <mat-option
                *ngFor="let colaborador of colaboradores"
                [value]="colaborador._id"
              >
                {{ colaborador.nome }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>

      <div>
        <button mat-button [disabled]="!form.valid" (click)="save()">
          Salvar
        </button>
      </div>
    </div>
  </form>
</ng-template>
