/* You can add global styles to this file, and also import other style files */
@import "~material-icons/iconfont/material-icons.css";

@font-face {
  font-family: Orbitron;
  src: url("./assets/fonts/Orbitron/static/Orbitron-Bold.ttf");
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.app-full-bleed-dialog .mat-dialog-container {
  padding: 0;
}

form {
  padding: 0.5em;
}
mat-form-field {
  width: 100%;
}
mat-card-header-text,
mat-card-header,
.mat-card-header-text {
  margin: 0 auto !important;
  text-align: center !important;
}
